.boards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}
.board {
    display: flex;
    flex-direction: column;
    width: 300px;
    min-height: 400px;
    padding: 20px 10px;
    margin: 10px;
    border-radius: 12px;
    border: 1px solid lightgray;
}
.title {
   text-align: center;
}
.title_main {
    margin-bottom: 10px;
}
.task {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 6px;
    border: 2px solid lightpink;
    cursor: grab;
    background-color: #fcfcf9;
}
.button {
    font-family: inherit;
    font-weight: 700;
    line-height: 20px;
    font-size: 16px;
    text-align: center;
    color: #333333;
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 50px;
    cursor: pointer;
  }
.change-form {
    width: 100%;
    display: none;
    flex-direction: column;
    margin-bottom: 10px;
}
.change-form_main {
    display: block;
    align-items: center;
    margin-bottom: 20px;
}
.change-label {
    position: relative;
    margin-bottom: 5px;
}
.change-input-error,
.change-textarea-error {
    height: 20px;
    font-size: 12px;
    color: lightcoral;
    margin-left: 10px;
}
.change-input-error_main {
    margin-left: 20px;
}
.change-input,
.change-textarea {
  width: 100%;
  font-family: inherit;
  color: #333333;
  padding: 5px 10px;
  border-radius: 50px;
  border: 2px solid lightgray;
  background-color: white;
  
}
.change-textarea {
  border-radius: 25px;  
  resize: none;
  margin-bottom: 10px;
}
.change-input_main {
  width: 80%;
  font-size: 20px;
  padding: 8px 20px;
  border-radius: 0;
  border-color: lightcoral;
}
.change-board-input {
    margin-bottom: 10px;
}
.button_main {
   padding: 13.5px 30px 10.5px 30px;
   border-radius: 0;
   background-color: lightcoral;
}
.button_edit-board,
.button_delete-board {
    margin-bottom: 10px;
}
.button_delete,
.button_cancel {
    border-color: lightcoral;
    background-color: transparent;
}
.button_add {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: lightpink;
}
.button_edit,
.button_save {
    margin-right: 5px;
}
.board-title {
    margin-bottom: 10px;
}
.task-title {
    margin-bottom: 5px;
}
.task-text {
    margin-bottom: 5px;
}